.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('/feeling.png') no-repeat center center;
    background-size: contain;
  }

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button.selected1 {
    background-color: #FFDE83;
    color: black;
    border-color: #FFDE83;
}

.button.selected2 {
    background-color: #87CFFA;
    color: black;
    border-color: #87CFFA;
}

.button.selected3 {
    background-color: #FFC5B3;
    color: black;
    border-color: #FFC5B3;
}

.button.selected4 {
    background-color: #FFC783;
    color: black;
    border-color: #FFC783;
}

.button.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    border-color: #ccc;
    cursor: not-allowed;
}

.continueButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continueButton:hover {
    background-color: #555;
}

.diaryButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.diaryButton:hover {
    background-color: #555;
}

.prompts {
    margin-top: 20px;
}

.prompts ul {
    list-style-type: disc;
    padding-left: 20px;
}

.prompts li {
    margin-bottom: 10px;
}

.mainText {
    font-size: 18px;
    display: block;
}

.subText {
    font-size: 10px;
    display: flex;
    align-items: start;
    color: #ccc;
}

.iconClock {
    margin-right: 5px;
}
