/* src/app/components/MainContent.module.css */
.mainContent {
  flex: 1;
  background-image: url('/contentbg.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textArea {
  width: 80%;
  height: 80vh;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  resize: none;
  outline: none;
}
