/* src/app/components/sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  /* height: 100vh; */
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
  color: white;
}

/* Ensure the Menu is styled correctly */
.ant-menu {
  background-color: #333 !important;
  color: white !important;
  border-right: none !important;
}

.ant-menu-item {
  background-color: #333 !important;
  color: white !important;
  margin: 10px 0 !important;
}

.ant-menu-item:hover {
  background-color: #444 !important;
}

.ant-menu-item-selected {
  background-color: #555 !important;
}

.ant-menu-item a {
  color: white !important;
}

.ant-menu-item a:hover {
  color: #ddd !important;
}

.ant-menu-item-icon {
  color: white !important;
}
