/* src/app/components/Sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  /* height: 100vh; */
  overflow-y: auto;
  position: relative;
}

.addButton {
  background-color: #FFDE83;
  color: #333;
  border: none;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.sidebar h2 {
  margin-top: 50px; /* Adjust based on button size */
  color: white;
  text-align: center;
}

.menu {
  margin-top: 20px;
}

.menuItem {
  margin: 10px 0;
  color: black !important;
}

.menu .ant-menu-item {
  background-color: #333 !important;
  color: black !important;
}

.menu .ant-menu-item:hover {
  background-color: #444 !important;
}

.menu .ant-menu-item-selected {
  background-color: #555 !important;
}

.menu .ant-menu-item a {
  color: black !important;
}

.menu .ant-menu-item a:hover {
  color: #ddd !important;
}

.menu .ant-menu-item-icon {
  color: inherit !important;
}
