/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/buttons/ButtonsWithBackground.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.ButtonsWithBackground_container__pphJ5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('/feeling.png') no-repeat center center;
    background-size: contain;
  }

.ButtonsWithBackground_title__If1OV {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.ButtonsWithBackground_buttons__GShKJ {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.ButtonsWithBackground_button__tuXiz {
    padding: 10px 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ButtonsWithBackground_button__tuXiz.ButtonsWithBackground_selected1__cbdhk {
    background-color: #FFDE83;
    color: black;
    border-color: #FFDE83;
}

.ButtonsWithBackground_button__tuXiz.ButtonsWithBackground_selected2__nedsw {
    background-color: #87CFFA;
    color: black;
    border-color: #87CFFA;
}

.ButtonsWithBackground_button__tuXiz.ButtonsWithBackground_selected3__cFro8 {
    background-color: #FFC5B3;
    color: black;
    border-color: #FFC5B3;
}

.ButtonsWithBackground_button__tuXiz.ButtonsWithBackground_selected4__CSNCt {
    background-color: #FFC783;
    color: black;
    border-color: #FFC783;
}

.ButtonsWithBackground_button__tuXiz.ButtonsWithBackground_disabled__d5XrC {
    background-color: #e0e0e0;
    color: #a0a0a0;
    border-color: #ccc;
    cursor: not-allowed;
}

.ButtonsWithBackground_continueButton__YPcAm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ButtonsWithBackground_continueButton__YPcAm:hover {
    background-color: #555;
}

.ButtonsWithBackground_diaryButton__B8HBJ {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ButtonsWithBackground_diaryButton__B8HBJ:hover {
    background-color: #555;
}

.ButtonsWithBackground_prompts__zKdVp {
    margin-top: 20px;
}

.ButtonsWithBackground_prompts__zKdVp ul {
    list-style-type: disc;
    padding-left: 20px;
}

.ButtonsWithBackground_prompts__zKdVp li {
    margin-bottom: 10px;
}

.ButtonsWithBackground_mainText__38UJS {
    font-size: 18px;
    display: block;
}

.ButtonsWithBackground_subText__l2o4h {
    font-size: 10px;
    display: flex;
    align-items: start;
    color: #ccc;
}

.ButtonsWithBackground_iconClock__7x_QZ {
    margin-right: 5px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/SplashScreen.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
/* src/app/components/SplashScreen.module.css */
.SplashScreen_splashContainer__Lr5gy {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/splashbg.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 24px;
  }
  
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* page.module.css */
.page_pageContainer___Ajkl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ebe2e2;
    padding: 20px;
  }
  
  .page_mainContent__51TpB {
    width: 100%;
    height: 100%;
  }
